.content {
  padding: 7px;
  background: white;
  margin-top: 4px;
}

.series-thumbnail {
  height: 72px;
  width: 128px;
  background: lightgrey;
  cursor: pointer;
}

.series-thumbnail:hover {
  background: #dadada;
}

.content-text{
  width: calc(100% - 128px - 7px);
  float: right;
  cursor: pointer;
}

.content-title {
  text-transform: uppercase;
}

.content-subtitle {
  margin-top: 7px;
}

.content-expand-header {
  text-align: center;
  margin-top: 7px;
  cursor: pointer;
  /***********************experimental***********************/
  /*background: #f8f8f8;
  width: calc(100% + 14px);
  padding: 4px;
  box-sizing: border-box;
  margin-left: -7px;
  margin-bottom: -7px;*/
  /*********************************************************/
}

.content-expand-header > * {
  display: inline-block;
  vertical-align: middle;
}

.content-expand-content {
  margin-top: 7px;
  /***********************experimental***********************/
  /*background: #f8f8f8;
  width: calc(100% + 14px);
  padding: 7px;
  box-sizing: border-box;
  margin-left: -7px;
  margin-bottom: -7px;*/
  /*********************************************************/
}

.content-expand-content > p {
  color: #919191;
  padding: 0 7px 7px;
  line-height: 1.2;
}

.video {
  padding: 7px 0;
  cursor: pointer;
}

.video > * {
  display: inline-block;
}

.video-title {
  width: calc(100% - 35px);
  color: #36bae7;
  font-weight: 500;
}

.video-title:hover {
  text-decoration: underline;
}

.video-subtitle {
  color: #919191;
  float: right;
}
