.video-player {
  width: 320px;
}

h4 {
  display: inline-block;
}

.video-length {
  margin-top: 7px;
}

button {
  width: 49.3%;
  padding: 10px 7px;
  border: none;
  background: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  outline: none;
}

.video-current > p {
  color: #c0c0c0;
}
